@charset "UTF-8";
#popout{
  width: 100%;
  height: 100%;
  font-family: '微软雅黑';
  background-color: rgba(0,0,0,.5);
  position: absolute;
  z-index: 1;
  display: none;
}
.popout{
  width: 500px;
  height: auto;
  line-height: 30px;
  color: #000;
  font-size: 20px;
  background: #fff;
  padding: 30px;
  text-align: left;
  position: relative;
  left:50%;
  top: 200px;
  margin-left:-250px;
  z-index:1;
  border-radius: 2px;
}
.popout>div,.popout>div p{
  width: 100%;
  font-family: '微软雅黑';
  word-break: break-all;
  word-wrap: break-word;
}
.popout>div p:nth-of-type(1){
  color: #333;
  font-size: 20px;
  font-weight: bolder;
}
.popout>div p:nth-of-type(2){
  color: #58666e;
  font-size: 16px;
}
.popout>p{
  text-align: right;
}
.popout>p button{
  width: 100px;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 6px;
  outline: none;
  color: #fff;
  font-size: 18px;
  background-color: #3288e6;
  font-family: '微软雅黑';
  cursor: pointer;
}
